@*
    
*@
@{
}

 <!-- this is the partialview the content of the bodies will be react-->
 <!-- that way depending on the action it can submit reject and all that-->
<div class="LRequestcontainer">
    <div class="container-header">

    </div>
    <div class="container-body">

    </div>
</div>